RewriteEngine On    # Turn on the rewriting engine
RewriteRule ^api/examples api/examples.php    [NC,L]

RewriteRule ^api/tasks/([0-9a-zA-Z_-]+)$ api/taskById.php?id=$1 [NC,L]
RewriteRule ^api/tasks api/tasks.php    [NC,L]
RewriteRule ^api/login api/login.php    [NC,L]